.drawer {
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  display: none;
  z-index: 101;
  overflow-y: scroll;
  transition: display 0.3s;

  &.open {
    display: block;
  }
}