.map {
  max-width: 300px;
  margin: 0 auto; 
} 

.labels {
  max-width: 400px;
  margin: 0 auto;
  span {
    text-align: center;
    width: 100px;
  }
}

 
.indicators { 
  margin-bottom: 10px;

  .lat {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #731739;
    background-color: #731739;
    color: #ffffff;
    border-radius: 100%;
    margin: 0 auto;
  }
   
  .lng {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #731739;
    color: #731739;
    border-radius: 100%;
    margin: 0 auto;
  }
}
 
.cart-control {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 40px;
  align-items: flex-start;
  padding-left: 1.5rem;
  
  .theButton2 {
    border: 1px solid #731739;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    margin-bottom: 20px;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    border-radius: 4px;
    color: #731739;
    cursor: pointer;

    .flex {
      align-items: center;
    }
  
    a {
      color: #731739;
      text-decoration: none;
    }
  }
}

.drawer-close {
  margin-top: 20px;
  width: 150px;
  margin-bottom: 40px;
} 

.cartProduct {
  max-width: 750px;
  margin: 0 auto;
}

.next2 {
  // background-color: #731739;
  // color: white;
  // font-size: 1.25rem;
  // cursor: pointer;
  // padding-bottom: calc(0.8em - 1px);
  // padding-top: calc(0.8em - 1px);
  // white-space: nowrap;
  // border-radius: 4px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.orderRow {
  flex-direction: column;
}

.gg-close-r {
  color: #731739;
  cursor: pointer;
}

.addOnRow {
  margin-top: 4px;
}

.total {
  // text-align: left;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
}

.group1{
  text-align: left;
  // border: 1px solid #731739;
  width: 50%;
}

.group2{
  text-align: right;
  // border: 1px solid #731739;
  width: 50%;
}

.free {
  color: #731739;
  margin-bottom: 10px;

}

.totalContainer {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;

  div p {
    margin-bottom: 10px;
  }
}