// .cart-Box {
  // height: 100%;
// }

.space {
  height: 100%;
}

.map {
  max-width: 300px;
  margin: 0 auto;
  
}

.labels {
  max-width: 400px;
  margin: 0 auto;
  span {
    text-align: center;
    width: 100px;
  }
}


.indicators { 
  margin-bottom: 10px;

  .lat {
    background-color: #731739;
  }
   
  .lng {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #731739;
    border-radius: 100%;
    margin: 0 auto;
  }
}


.cart-control {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 40px;
  align-items: flex-start;
  padding-left: 1.5rem;
  
  
  .theButton2 {
    border: 1px solid #731739;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    margin-bottom: 20px;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    border-radius: 4px;

    .flex {
      align-items: center;
    }
  
    a {
      color: #731739;
      text-decoration: none;
    }
  }
}

.drawer-close {
  margin-top: 20px;
  width: 150px;
  margin-bottom: 40px;
}

.cartProduct {
  max-width: 750px;
  margin: 0 auto;
}