.contact-form {
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
 
.gg-pin,
.gg-phone,
.gg-mail,
.gg-twitter,
.gg-instagram,
.gg-facebook{
  color: #731739;
}
.contact-page {
  display: flex;
  flex-direction: column;
}

.contact-links {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.infor {
  
  div {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  i {
    margin-right: 10px;
  }
}

.social {
  width: 200px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.theButton4 {
  border: 1px solid #731739;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.8em - 1px);
  padding-bottom: calc(0.8em - 1px);
  text-align: center;
  border-radius: 4px;
  background-color: #731739;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 50px;
}

.btnn {
  margin-top: 40px;
}

@media only screen and (min-width: 1024px) {
  .contact-form {
    width: 80%;
  } 
  
}