// reset and default styles
html {
  font-size: 16px; // lets user control zoom level in browser
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  line-height: 1.3;
  // color: $coalWhite;
  text-rendering: optimizeLegibility;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.mobileContainer {
  @media only screen and (max-width: 1024px) {  
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    }
}

//flexbox helper classes

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ac-sb {
    align-content: space-between;
  }

  &-ai-b {
    align-items: baseline;
  }

  &-fd-c {
    flex-direction: column;
  }
}