nav {  
  padding-top: 20px;
}

.header_logo {
  a {
    color: $coalRed;
  }
}

.header_cart{
  display: flex;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid gray;
  width: 50px;

  p {
    color: $coalRed;
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  top: 50px;
  visibility: hidden;
  transition: all 5ms ease-in-out;

  a {
    display: block;

    transition: border-bottom 100ms ease-in-out;
    color: $coalRed;

    text-align: left;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      border-bottom: 2px solid $coalRed;
      padding-bottom: 3px;
    }
  }

  &.open {
    visibility: visible;
  }
}

@media only screen and (max-width: 1024px) {

  nav {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {

  .header-hamburger {
    span {
      width: 1.5rem;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}