.heroOne{
  display: flex;
  flex-direction: column;
  margin: 0 auto;


  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.subtitle {
  text-align: left;
}

@media only screen and (max-width: 750px) {

  .heroOne {

    &.open {
      margin-top: 50px;
    }
  }
}
