.contents {
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
  // display: flex;
  // flex-direction: column;
  // align-content: center;

  // border: 1px solid gray;
}

.mealImage {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.item {
  text-align: left;
}
 
.controlSet {
  display: flex;
  
  .quantity {
    // border: 1px solid gray;
    // padding: 8px 8px;
    border-width: 1px;
    color: #363636;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
  }
}
 
.more {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
  transition: display 5ms ease-in-out;

  &.pack {
    display: block;
  }
}

.promo {
  color: darkcyan;
  margin-left: 10px;
}
 
.next {
  background-color: #731739;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  padding-bottom: calc(0.8em - 1px);
  padding-top: calc(0.8em - 1px);
  white-space: nowrap;
  border-radius: 4px; 
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  // position: absolute; 
  // bottom: 0;
}

.next2 {
  background-color: $coalWhite;
  font-size: 1.25rem;
  // cursor: pointer;
  padding-bottom: calc(0.5em - 1px);
  padding-top: calc(0.5em - 1px);
  // white-space: nowrap;
  border: 2px solid $coalRed;
  // border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  // position: absolute;
  // bottom: 0;

  a {
    text-decoration: none;
    color: #731739;
  }
}

.clicker {
  cursor: pointer;
  color: gray;
  border-bottom: 1px solid gray;
  font-size: 15px;
  width: 100px;
}

.packList {
  margin-bottom: 10px;
  margin-top: 40px;

  .list-heading {
    margin-bottom: -80px;
  }
}

.pepper {
  margin-top: 10px;
  margin-bottom: 30px;

  span {
    margin-right: 5px;
  }

}

.addOns {

  margin-top: 10px;
  
  .addOn {
    margin-bottom: 5px;
  }

  flex-direction: column;
}

.theButtonz {
  border: 1px solid #731739;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #731739;
  max-width: 500px;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content: space-between;
}

.extraset3 {
  border-top: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-image2 {
  margin-bottom: 40px;
}

@media only screen and (min-width: 400px) {
  .extraSet {
    display: flex; 
    max-width: 500px;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media only screen and (min-width: 770px) {
  .hero-image2 {
    max-width: 500px;
    margin-top: -80px;
  }
}