.productNav {
  margin: 0 auto;
 
  span {
    color: $coalRed;
  }
}

.mobile {
  // flex-wrap: wrap;
  text-align: left;
  
}

.mealbox {
  margin-bottom: 20px;
}

@media only screen and (min-width: 630px) {  
  .mealbox {
    width: 30%;
    margin-bottom: 0;
    margin-right: 20px;
  }
}