.content {
  text-align: left;
  max-width: 575px;
}
 
.controlSet {
  display: flex;
  
  .quantity {
    border: 1px solid gray;
    padding: 8px 20px;
  }
}
 
.more {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
  transition: display 5ms ease-in-out;

  &.pack {
    display: block;
  }
}

.bill {
  display: flex;
  align-items: baseline;
}

.promo {
  color: darkcyan;
  margin-left: 10px;
}

.next {
  background-color: #731739;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  padding-bottom: calc(0.8em - 1px);
  padding-top: calc(0.8em - 1px);
  white-space: nowrap;
  border-radius: 4px;
}

.clicker {
  cursor: pointer;
  color: gray;
  border-bottom: 1px solid gray;
  // margin-top: 20px;
  font-size: 15px;
}

.packList {
  margin-bottom: 10px;
}

.pepper {
  margin-top: 10px;
  margin-bottom: 30px;

  span {
    margin-right: 5px;
  }
}

.addOns {

  margin-top: 10px;
  
  .addOn {
    margin-bottom: 5px;
  }

  flex-direction: column;
}

.theButtonz {
  border: 1px solid #731739;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #731739;
  max-width: 430px;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content: space-between;
}

@media only screen and (min-width: 400px) {
  .extraSet {
    display: flex;
    max-width: 430px;
    justify-content: space-between;
    align-items: baseline;
  }
}