.mealList {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
} 
 
.mealItem { 
  width: 30%;

  a {
    border: 1px solid gray;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    border-radius: 4px;
    color: #731739;
  }

  .router-link-active {
    border: 2px solid #731739;
    color: white;
    background-color: #731739;
  }
}