.content {
  text-align: left;
  max-width: 575px;
}

.controlSet {
  display: flex;
  
  .quantity {
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.more {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
  transition: display 5ms ease-in-out;

  &.pack {
    display: block;
  }
}

.bill {
  display: flex;
  align-items: baseline;
  width: 350px;
}

.promo {
  color: darkcyan;
  width: 241px;
  margin-top: -20px;
  margin-left: 10px;
}

.next {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #731739;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  padding-bottom: calc(0.8em - 1px);
  padding-top: calc(0.8em - 1px);
  white-space: nowrap;
}

.clicker {
  padding: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  i{
    margin-left: 10px;
  }
}
