.mealList {
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

.mealList::-webkit-scrollbar{
  width: 0;
}
 
.mealItem {  
  width: 30%;
  // padding-bottom: 5px;
  
  a {
    // border: 1px solid gray;
    padding-top: calc(0.5em - 1px);
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    color: #731739;
  }

  .router-link-active {
    // border: 2px solid #731739;
    color: white;
    background-color: #731739;
  }
}