.mealList {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.mealItem {
  // border: 2px solid gray;
  width: 30%;

  // .router-link-active {
  //   border: 2px solid gray;
  //   padding-left: 20px;
  // }
}