.checkout-box {
  width: 100%; 
  height: 100vh;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  display: none;
  z-index: 102;
  overflow-y: scroll;
  transition: display 0.3s;

  &.checkout {
    display: block;
  }

  .label,
  .help {
    text-align: left;
  }
}

.orderForm {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.checkout-button {
  margin-top: 40px;
}

.cartRoute {
  padding-top: 20px;
  margin-bottom: 50px;
  display: flex;
}