.checkout-box {
  width: 100%; 
  height: 100vh;
  background-color: $coalWhite;
  position: fixed;
  top: 0;
  display: none;
  z-index: 102;
  overflow-y: scroll;
  transition: display 0.3s;

  &.checkout {
    display: block;
  }

  .label {
    text-align: left;
  }

  .help {
    text-align: left;
    margin-bottom: 20px;
  }
 
  .theButton3 {
    border: 1px solid #731739;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    margin-bottom: 20px;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    border-radius: 4px;
    color: #731739;
    cursor: pointer;

    .flex {
      align-items: center;
    }
  
  }
}

.one {
  margin-top: 20px;
}
 
.orderForm {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.checkout-button {
  margin-top: 40px;
  margin-bottom: 80px;
}

.cartRoute {
  padding-top: 20px;
  margin-bottom: 50px;
  display: flex;
}

.indicators2 { 
  // border: 2px solid rgb(134, 223, 18);
  margin-bottom: 10px;

  .lat {
    background-color: #731739;
  }
  
  .lng {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #731739;
    border-radius: 100%;
    margin: 0 auto;
  }
}
 
.local {
  display: flex;
  flex-wrap: wrap;
  // border: 2px solid #731739;
  
  .radio {
    width: 85%;
    max-width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    font-size: 1rem;
    padding-bottom: calc(0.25em - 0.5px);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: calc(0.25em - 0.5px);
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
    border-radius: 4px;
    margin-left: 2px;
  }
}

.locale {
  margin: 20px 0 0 0;
}

.side {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}

.localeResponse {
  align-items: baseline;
  label {
    margin-right: 10px;
  } 
}

.btns {
  div {
    margin-bottom: 20px;
    cursor: pointer;
  }
  .payBtn {
    margin-bottom: 50px;
  }
}

.totalContainer2 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  div p {
    margin-bottom: 10px;
  }
}

.specialInstructions {
  align-items: baseline;


  label {
    margin-right: 10px;
  }
}