@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$family-sans-serif: "Josefin Sans", sans-serif;

$coalRed: #731739;

$primary: $coalRed;

@import "~bulma/bulma"; 