@import "variables";
@import "globals";
@import "header";
@import "productlist";
@import "purchase";
@import "cart";


// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// $family-sans-serif: "Josefin Sans", sans-serif;

@import "~bulma/bulma";