@import "variables";
@import "globals";
@import "header";
@import "productlist";
@import "purchase";
@import "cart";
@import "product";
@import "shoppingcart";
@import "menu";
@import "close";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import "~bulma/bulma";

$family-sans-serif: "Josefin Sans", sans-serif;