@import "~bulma/bulma";
// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@import url('https://css.gg/instagram.css');
@import url('https://css.gg/twitter.css');
@import url('https://css.gg/mail.css');
@import url('https://css.gg/facebook.css');
@import url('https://css.gg/phone.css');
@import url('https://css.gg/pin.css');
@import url('https://css.gg/arrow-up-r.css');
@import url('https://css.gg/arrow-down-r.css');
@import url('https://css.gg/close-r.css');

@import "variables";
@import "globals";
@import "header";
@import "productlist";
@import "purchase";
@import "cart";
@import "product";
@import "shoppingcart";
@import "menu";
@import "close";
@import "hero";
@import "arrowU";
@import "arrowD";
@import "contact";



$family-sans-serif: "Josefin Sans", sans-serif;